<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create/Edit Account</title>
</head>
<body>
    <h1>Create/Edit Account</h1>
    <form th:action="@{/acc_overview/save}" th:object="${account}" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <input type="hidden" th:field="*{accountNumber}">
        <label for="accountType">Account Type:</label>
		<select id="accountType" name="accountType" th:field="*{accountType}">
		    <option th:value="CHK">Chequing</option>
		    <option th:value="SAV">Savings</option>
		    <option th:value="DEP">Deposit</option>
		</select>
        <br>
        <label>Balance:</label>
        <input type="number" th:field="*{balance}">
        <br>
        <label>Overdraft Limit:</label>
        <input type="number" th:field="*{overDraftLimit}">
        <br>
        <input type="submit" value="Save">
    </form>
    <a href="/cus_overview">Back to Customer Overview</a>
</body>
</html>
