<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Overview</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
	<div th:insert="fragments :: navbar"></div>
    
	<!-- Customer Information -->
    <h2>Personal Information</h2>
		<div th:if="${customer != null}">
		<p>ID: <span th:text="${customer.customerId}"></span></p>
		<p>Username: <span th:text="${customer.username}"></span></p>
		<p>Name: <span th:text="${customer.name}"></span></p>
		<p>Email: <span th:text="${customer.email}"></span></p>
		<p>Address: <span th:text="${customer.address}"></span></p>
		<p>Phone Number: <span th:text="${customer.phoneNumber}"></span></p>
		<p>Actions: 
					<a th:href="@{/cus_overview/view/{id}(id=${customer.customerId})}">View</a> |
			        <a th:href="@{/cus_overview/edit/{id}(id=${customer.customerId})}">Edit</a> |
			        <a th:href="@{/cus_overview/delete/{id}(id=${customer.customerId})}">Delete</a>
		</p>
		</div>
		<p th:text="${customer}"></p>
    <a href="/register">Create New Customer</a>

    <!-- Account Information -->
    <h2>Account Information</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Account Type</th>
                <th>Balance</th>
                <th>Overdraft Limit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
			<div th:if="${customer != null}">
            <tr th:each="account : ${accounts}">
                <td th:text="${account.accountNumber}"></td>
                <td th:text="${account.accountTypeCode}"></td>
                <td th:text="${account.balance}"></td>
                <td th:text="${account.overDraftLimit}"></td>
			    <td>
			        <a th:href="@{/acc_overview/view/{id}(id=${account.accountNumber})}">View</a> |
			        <a th:href="@{/acc_overview/edit/{id}(id=${account.accountNumber})}">Edit</a> |
			        <a th:href="@{/acc_overview/delete/{id}(id=${account.accountNumber})}">Delete</a>
			    </td>
            </tr>
			</div>
        </tbody>
    </table>
    <a href="/acc_overview/new">Create New Account</a>
</body>
</html>
