<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie Web</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/Styles.css" rel="stylesheet" />
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #111;
                }
    </style>

</head>
<body>
    <header>

        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-action="Signin" asp-controller="Users">Sign In</a></li>
            <li><a asp-action="Signup" asp-controller="Users">Sign Up</a></li>
        </ul>

    </header>

    <div style="margin-top:10px">
        @RenderBody()
    </div>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">Created By Zack Feng Centennial College 2023</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="~/lib/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>