<nav class="navbar fixed-bottom" style="background-color: #96acc3;" >
    <div class="container-fluid"> 
      <h8 id="footer">&copy Copyright 2023 by Ze Feng. All Rights Reserved.</h8>
      <span id="footicon">
            <span><a href="https://github.com/Zackfeng02/myrepo.git"><i class="fa-brands fa-github fa-lg"></i>GitHub</a></span>
            <span><a href="https://www.linkedin.com/in/zackfeng/"><i class="fa-brands fa-linkedin fa-lg"></i>Linkedin</a></span>
            <span><a href="mailto:zefeng06@gmail.com"><i class="fa-solid fa-envelope fa-lg"></i>Email</a></span>
      </span>
      
      
    </div>
    
  </nav>