<div class="pagetitle">
    <h3><%= title %></h3>
    <div>
       
        <img src="/Content/images/me.jpg" alt="photo"  width="230">
    </div>
    <div class="col-md-6">
        <div>
            <p>Hello! I am Ze Feng from China. I'm currently pursuing 
                Software Engineering Technology at Centennial College.
                I am a continuous learner with a strong interest in web development. <i>Please 
                <a href="/Content/images/ZFResume.pdf">click here to open my resume</a> </i>.
            </p>
        </div>
        
    </div>
</div>